<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{{ .Metadata.Name.TitleCase }}</title>
</head>
<body>
// Navigation bar
// File actions
// File docs
// File data editor
// File methods
// File comments
// Footer
</body>
